asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
attrs==24.2.0 ; python_version >= "3.12" and python_version < "4.0"
autobahn==24.4.2 ; python_version >= "3.12" and python_version < "4.0"
automat==24.8.1 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
channels[daphne]==4.1.0 ; python_version >= "3.12" and python_version < "4.0"
constantly==23.10.4 ; python_version >= "3.12" and python_version < "4.0"
cryptography==43.0.1 ; python_version >= "3.12" and python_version < "4.0"
daphne==4.1.2 ; python_version >= "3.12" and python_version < "4.0"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4.0"
django==5.1.1 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.8 ; python_version >= "3.12" and python_version < "4.0"
incremental==24.7.2 ; python_version >= "3.12" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyopenssl==24.2.1 ; python_version >= "3.12" and python_version < "4.0"
service-identity==24.1.0 ; python_version >= "3.12" and python_version < "4.0"
setuptools==74.1.2 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.12" and python_version < "4.0"
twisted[tls]==24.7.0 ; python_version >= "3.12" and python_version < "4.0"
txaio==23.1.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
zope-interface==7.0.3 ; python_version >= "3.12" and python_version < "4.0"
